.cart {
    position: sticky;
    top: 0;
}

.logo {

    width: 60px;
    height: 60px;
    border-radius: 20px;

}

.minutes button:focus {
    color: white;
    background-color: blueviolet;
}

.text {
    font-size: 10px;
}